.button{
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(--color_blue);
    border-radius: 3rem;
    color: #ffffff;
    border: 0;
}

.title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.84rem;
}

.content{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
}

@media screen and (max-width: 390px) {
    .title{
        font-size: 3rem;
    }

    .wrapper{
        margin-bottom: 10rem !important;
    }
}
