@media screen and (max-width: 390px) {
    .viewpage_wrapper{
        margin-bottom: 5rem;
        padding: 0 10%;
    }
}
@media screen and (max-width: 768px) {
    .viewpage-left-content_value{
        font-size: 15px;
    }

    .stakeview_text {
        font-size: 13px !important;
    }

    .stakeview_value {
        font-size: 12px;
    }

    .stakeview_header a {
        font-size: 10px;
        padding: 0.5rem;
    }

    .stakeview_value {
        font-size: 13px;
    }

    .stakeview_footer button {
        padding: 1rem;
    }

    .button {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1440px) {
    .viewpage{
        flex-direction: column;
        align-items: center;
    }
    .viewpage_left{
        width: 90%;
        margin-bottom: 5rem;
    }

    .viewpage-left_content{
        width: 100%;
    }

    .viewpage-left-header_title {
        justify-content: center;
    }

    .viewpage-left-header_validate  {
        justify-content: center;
    }
    .viewpage_right {
        width: 90%;
    }
    
}