@media screen and (max-width: 390px) {
    .SKsection1_total{
        justify-content: space-around;
    }

    .SKsection1-total_totalbox{
        padding: 0.5rem;
        
    }
    .SKsection1-total-totalbox_title{
        font-size: 5px !important;
        
    }
    
    .SKsection1-total-totalbox_amount{
        font-size: 6px !important;
        line-height: 0;
        
    }
    
    .SKsection1-total-totalbox_Evalue{
        font-size: 0.8rem !important;
        
    }
}

@media screen and (max-width: 768px) {
    .SKsection1-about_title{
        font-size: 3rem !important;
    }

    .beta_button{
        font-size: 10px;
        padding: 0.5rem 1%;
        border-radius: 2rem;    
        margin-left: 1rem;
    }

    .content{
        font-size: 13px !important;
    }

    .SKsection1_total{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .SKsection1-total_totalbox{
        width: 40%;
    }
    .SKsection1-total-totalbox_title{
        font-size: 1rem;
        
    }
    
    .SKsection1-total-totalbox_amount{
        font-size: 1.4rem;
        
    }
    
    .SKsection1-total-totalbox_Evalue{
        font-size: 1.2rem;
        
    }
}

@media screen and (max-width: 1440px) {
    .SKsection1_total{
        gap: 2rem;
    }
    .SKsection1-total_totalbox{
        width: 40%;
    }
}