@media screen and (max-width: 390px) {
    .section9{
        flex-direction: column;
    }
    .section9_left{
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .section9-left_title{
        margin-bottom: 2rem;
        
    }
}

@media screen and (max-width: 768px) {
    .section9-left_title{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .section9-left_content{
        font-size: 1.3rem;
        font-weight: 400;
    
    }
}

@media screen and (max-width: 1440px) {
    .sectionn9_right img{
        max-width: 29%;
        padding: 0.5rem;
    }
}