@media screen and (max-width: 390px) {
    .section6{
        max-width: 80%;
    }

    .section6_subtitle{
        font-size: 1rem !important;
    }

    .section6_title{
        font-size: 1.2rem !important;
    }
    .section6_content{
        font-size: 0.8rem !important;
        line-height: 2rem !important;
        padding: 0.5rem 0 !important;
    }
    .section6_button{
        padding: 0.5rem 1rem !important;
        font-size: 0.8rem !important;
    }
    .section6_button>img{
        width: 1rem !important;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 768px) {
    
    .section6_subtitle{
        font-size: 1.2rem;
    }

    .section6_title{
        font-size: 2em;
    }
    .section6_content{
        font-size: 1.2rem;
        line-height: 3rem;
        padding: 1rem 0;
    }
    .section6_button{
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }
    .section6_button>img{
        width: 1.3rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1440px) {
    .section6_title{
        font-size: 3em;
    }
}