.consolefooter_wrapper{
    padding: 0 15%;
    background-color: #000000;
}

.consolefooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}

.consolefooter_left{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

.consolefooter-left_icon img{
    max-width: 13rem;
}

.consolefooter-left_text{
    display: flex;
    color: #FEFEFF;
    gap: 2rem;
    font-size: 16px;
    font-weight: 400;
}

.consolefooter_right{
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: center;
}

.consolefooter_right img{
    width: 8%;
}