.Sksection3_wrapper{
    padding: 0 15%;
    margin-bottom: 10rem;
}

.Sksection3{
    display: flex;
    justify-content: space-between;
}

.SKsection3_active{
    color: var(--color_blue);
}

.Sksection3_left{
    width: 20%;
}

.Sksection3_right{
    width: 60%;
}

.Sksection3-right_wrapper{
    
}

.Sksection3-right_title{
    display: flex;
    align-items: center;
}

.Sksection3-right-title_icon{
    width: 3%;
}

.Sksection3-right-title_icon img{
    width: 100%;
}

.Sksection3-right-title_text{
    font-size: 18px;
    font-weight: 500;
    padding: 2rem;
}

.Sksection3-right-title_icon img{
    
}

.Sksection3-right_content{
    font-size: 16px;
    font-weight: 400;   
    color: #858A96;
    margin-left: 3rem;
}