
.section10_head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.section10-head_button{
    padding: 2rem;
}

.section10_card{
    width: 33.33%;
    padding: 2rem;
}

.section10-card_img img{
    width: 100%;
}

.section10-card_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section10-card_subtitle{
    color: var(--color_green);
}

.section10-card_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 3.6rem;
}

.section10-card_content{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}