

.section9{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section9_left{
    max-width: 50%;
}

.section9-left_title{
    margin-bottom: 5rem;
}

.section9-left_content{
    font-size: 1.7rem;
    font-weight: 400;

}

.section9_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

.section9-right_icon{
    max-width: 100%;
}

.sectionn9_right img{
    padding: 1rem;
    max-width: 29%;
}