.section8_wrapper{
    height: 61.4rem;
    background-color: var(--color_black);
    padding: 0 15%;
    margin-bottom: 15rem;
}

.section8{
    color: #ffffff;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.section8_left img{
    max-width: 100%;
}

.section8-left_ListContent>p{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section8-left_button{
    padding: 1.5rem 3rem;
}

.section8_right{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.section8_right>img{
    width: 100%;
}
