.section6_wrapper{
    position: relative;
    width: 100%;
    margin: 0 0 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.section6_wrapper>img{
    width: 100%;
}

.section6{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 50%;

}

.section6_subtitle{
    font-size: 1.6rem;
    font-weight: 400;
}

.section6_content{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    padding: 5rem 0;
}

.section6_button{
    padding: 2rem 6rem;
    border-radius: 3rem;
}


