.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    padding: 80px 60px;
}

.header img{
    width: 127.9px;
    height: 25.1px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 474px;
    height: 22px;
    color: var(--color_black);
}
.navbar li{
    list-style-type: none;
    margin: 0 1.5rem;
    font-weight: 400;
    font-size: 18px;
}


.header_button{
    width: 155px;
    height: 44px;
    font-size: 16px !important;
}