.header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
}

.header img{
    width: 8rem;
    height: 2rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 2.2rem;
    color: var(--color_black);
}
.navbar li{
    list-style-type: none;
    margin: 0 1.5rem;
    font-weight: 400;
    font-size: 1.8rem;
}


.header_button{
    max-width: 15.5rem;
    height: 4.4rem;
    font-size: 1.6rem !important;
}