
.section5{
    display: flex;
    justify-content: space-between
}

.section5_left{
    width: 40%;
}


.section5-left_license,
.section5-right_title,
.section5-right_content{
    padding: 0.5rem 0;
}

.section5-left_license{
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.section5-right_content{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3.6rem;
}

.section5_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.section5-right_icon{
    max-width: 25%;
}

.section5-right_phone{
    max-width: 30%;
}

