
.section3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3_left{
    width: 50%;
    justify-content: center;
}

.section3-left_text{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3.6rem;
    margin: 4.0rem 0;
}

.section3-left_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3Button{
    width: 26.9rem;
    height: 6rem;
}

.section3Link{
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
}

.section3Link>img{
    width: 1.6rem;
    height: 1.2rem;   
}

.section3_right{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3_UnLoadingPart{
    width: 0.8rem;
    height: 44.4rem;
    border-radius: 0.9rem;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section3_LoadingPart{
    width: 0.4rem;
    height: 19.6rem;
    border-radius: 0.9rem;
    background-color: var(--color_blue);
}

.section3-right-content_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.section3-right-content_title{
    padding-bottom: 1.5rem;
}

.section3-right-content_text{
    height: 6rem;
}

.section3-right-content_text p{
    display: flex;
    flex-direction: row;
    align-items: center;
}



