@media screen and (max-width: 390px) {
    .navbar{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .header{
        padding: 2.5rem 2rem;
    }
    .navbar{
        display: none;
    }

    .header_button{
        display: none;
    }

    .navbar li{
        font-size: 1.5rem;
    }

    .header_button{
        width: 10rem;
        height: 3rem;
        font-size: 1rem !important;
    }
}


