@media screen and (max-width: 390px){
    .section1_wrapper{
        height: 113rem !important;
    }
    
    .section1Down{
        flex-direction: column;
    }

    .section1Down_card{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .section1_wrapper{
        height: 75rem;
    }

    .section1_wrapper>img{
        max-width: 30%;
        height: 30rem;
    }

    .section1Up{
        width: 70%;
    }
    

    .section1Up_title{
        font-size: 2.9rem;
    }
    
    .section1Up_content{
        font-size: 1rem;
        margin: 2rem 0;
    }

    .section1Down{
        padding-top: 0rem !important;
    }

    .section1Down_card{
        padding: 1rem;
    }

    
    
    .section1Down-card_icon img{
        max-width: 5rem;
    }
    
    .section1Down-card_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .section1Down-card_title>h2{
        font-size: 2rem;
        text-align: center;
        padding: 0.5rem;
    }
    
    .section1Down-card_title>h4{
        font-size: 1.4rem;

    }
    
    .section1Down-card_content{
        margin: 0 ;
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .section1_wrapper{
        height: 145rem 
    }

    .section1Down_card{
        padding: 1rem;
    }

    .section1Down{
        padding-top: 10rem;
    }

    .section1Down-card_title>h2 {
        font-size: 2.5rem;
        text-align: center;
    }

}